@tailwind base;
@tailwind components;
@tailwind utilities;
/**
 * Use this directive to control where Tailwind injects the responsive
 * variations of each utility.
 *
 * If omitted, Tailwind will append these classes to the very end of
 * your stylesheet by default.
 */
@tailwind screens;

//@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$arrow-opacity: 0.25;
//$arrow-transition: all ease-in 2s;

@keyframes flyin {

    from {
        transform : scale(0.10) rotate(0deg);
        opacity   : 0.5;
    }

    50% {
        transform : scale(0.25) rotate(45deg);


    }
    to {
        transform : scale(0.75) rotate(90deg);
        opacity   : $arrow-opacity;

    }
}



html,* {
    font-family: 'Titillium Web', sans-serif;
    //border:1px solid gray;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


.gravatar {
    @apply rounded-full;
    margin:0 auto;
}

.scroll-container {

    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;


    section {

        height: 100vh;
        scroll-snap-align: center;
        background: #f5f5f5;
        color: black;

        div.slide {
            opacity: 0;
            flex: auto;
            -webkit-backface-visibility: hidden;
            ul {
                li {
                    margin: 10px 0 0 15px;
                }
            }
        }

        div.arrow{
            display:flex;
            align-items:flex-start;
            font-size:4rem;
            opacity:0;
            transform-origin:center center;
            --scaler: 0.75;
            transition: transform .3s ease;
            transform:scale(var(--scaler)) rotate(90deg);
            cursor:pointer;
            &:hover{

                --scaler:1;
                opacity:1;
            }
        }
        &.is-visible {
            div.arrow{
                opacity: $arrow-opacity;

                transform-origin: center center;
                -webkit-animation: flyin linear 1.25s;
                //-webkit-animation: bounce linear infinite;
            }
            div.slide {
                opacity: 1;
                transition: opacity 1500ms;
            }
        }

        &:first-child {
            div.up-arrow {
                visibility:hidden;
            }

        }

        &:last-child {
            div.down-arrow {
                visibility:hidden;
            }

        }

        &:nth-child(2n) {
            background-color: black;
            color: #f5f5f5;
        }

        &.info {
            div.heading {
                &:after {
                    content: "";
                    max-height: 1px;
                    display: block;
                    //margin:0 auto;

                    width: 75%;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    background-image: linear-gradient(to right, silver, rgba(0, 0, 0, 0));
                }
            }
        }
    }
}


/* menu */
#slideMenuContainer {
    top: 10px;
    right: 10px;
    @apply p-2;
    @media(max-width: 640px) {
        right: 0;
    }


    ul {

        margin: auto;


        li {
            @media(max-width: 640px) {
                margin: 5px auto;
            }
            @apply rounded;
            @apply p-2;

            margin: 10px;
            //background-color: white;
            border: silver 1px dashed;


        }
    }


    a {

        text-decoration-style: solid;
        text-decoration-width: 3px;
        text-decoration-color: silver;
        color:black;
        text-decoration-line: underline;
        //opacity: 0.45;

        &.active {
            //opacity: 1;
            color:black;
            font-weight: bold;
            text-decoration-color: darkcyan;
        }
        &:hover{
            transition: all linear 0.50s;
            //padding-left:10px;
            //padding-right:10px;
            color:#2c5282;
            opacity:1;

        }
    }
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body, .scroll-container, .scroll-container section {
        /* The hack for Safari */
        height: -webkit-fill-available;
    }
}
